{{ define "main" }}
	<header>
		<h1 class="p-name">{{ .Title | upper }}</h1>
	</header>
	{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
	{{ if gt (len $list) 0 }}
		<p class="archive_categories">
			{{ range $list }}
				<span><a href="{{ .Permalink }}">{{ .Title }}</a> </span>
			{{ end }}
		</p>
		<hr class="fancy">
	{{ end }}
	
	{{ $list := (where .Site.Pages "Type" "post") }}
	
	<ul class="h-feed contentlist">
		{{ range $list }}
			<li class="h-entry contentlist-item">
				<a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "2006-01-02" }}</time></a>
				<p>
					{{ if .Title }}
						<span class="p-name"><b>{{ .Title }}</b></span> 
					{{ end }}
					<span class="p-summary">{{ .Summary | truncate 100 }}</span>
				</p>
			</li>
		{{ end }}
	</ul>

{{ end }}